@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&display=swap');

*,
html, 
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

[class^="container"], 
[class*="container"] {
    width: 85%;
    max-width: 1440px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

[class^="grid-row-"], 
[class*="grid-row-"] {
    display: grid;
}


/* Heading */

h1 {
    font-size: 2em
}

h2 {
    font-size: 1.5em
}

h3 {
    font-size: 1.17em
}

h4 {
    font-size: 1em
}

h5 {
    font-size: 0.83em
}
h6 {
    font-size: 0.75em
}

/* Headings Ends */

.grid-row-lg-1,
.grid-row-md-1,
.grid-row-sm-1 {
    grid-template-columns: 100%;
}

.grid-row-lg-2,
.grid-row-md-2,
.grid-row-sm-2  {
    grid-template-columns: repeat(2, auto);
}

.grid-row-lg-3,
.grid-row-md-3,
.grid-row-sm-3  {
    grid-template-columns: repeat(3, auto);
}

.grid-row-lg-4,
.grid-row-md-4,
.grid-row-sm-4  {
    grid-template-columns: repeat(4, auto);
}

.grid-row-lg-5,
.grid-row-md-5,
.grid-row-sm-5  {
    grid-template-columns: repeat(5, auto);
}

.grid-row-lg-6,
.grid-row-md-6,
.grid-row-sm-6  {
    grid-template-columns: repeat(6, auto);
}

.grid-row-lg-7,
.grid-row-md-7,
.grid-row-sm-7  {
    grid-template-columns: repeat(7, auto);
}

.grid-row-lg-8,
.grid-row-md-8,
.grid-row-sm-8  {
    grid-template-columns: repeat(8, auto);
}

.grid-row-lg-8,
.grid-row-md-9,
.grid-row-sm-9  {
    grid-template-columns: repeat(9, auto);
}

.grid-row-lg-10,
.grid-row-md-10,
.grid-row-sm-10  {
    grid-template-columns: repeat(10, auto);
}

.grid-row-lg-11,
.grid-row-md-11,
.grid-row-sm-11  {
    grid-template-columns: repeat(11, auto);
}

.grid-row-lg-12,
.grid-row-md-12,
.grid-row-sm-12  {
    grid-template-columns: repeat(12, auto);
}

.grid-row-lg-13,
.grid-row-md-13,
.grid-row-sm-13  {
    grid-template-columns: repeat(13, auto);
}

.grid-row-lg-14,
.grid-row-md-14,
.grid-row-sm-14  {
    grid-template-columns: repeat(14, auto);
}

.grid-row-lg-15,
.grid-row-md-15,
.grid-row-sm-15  {
    grid-template-columns: repeat(15, auto);
}

.grid-row-lg-16,
.grid-row-md-16,
.grid-row-sm-16  {
    grid-template-columns: repeat(16, auto);
}

/* List */

ul.no-bullet {
    list-style-type: none;
}

/* List Ends */

/* Utility Classes */

.center-all {
    align-content: center;
}

.text-center {
    text-align: center;
}

.text-upper {
    text-transform: uppercase;
}

.text-underline {
    text-decoration: underline;
}

.mx-auto {
    margin: 0 auto;
}

.fw-100 {
    font-weight: 100;
}

.fw-200 {
    font-weight: 200;
}

.fw-300 {
    font-weight: 300;
}

.fw-400 {
    font-weight: 400;
}

.fw-500 {
    font-weight: 500;
}

.fw-600 {
    font-weight: 600;
}

.fw-700 {
    font-weight: 700;
}

.fw-800 {
    font-weight: 800;
}

.text-white {
    color: #FFF;
}

.text-black {
    color: #000;
}

/* Utility Classes Ends */

/* Margins */

/* Margin Top */

.mt-5 {
    margin-top: 5px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-15 {
    margin-top: 15px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-25 {
    margin-top: 25px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-35 {
    margin-top: 35px;
}

.mt-40 {
    margin-top: 40px;
}

.mt-45 {
    margin-top: 45px;
}

.mt-50 {
    margin-top: 50px;
}

/* Margin Bottom */

.mb-5 {
    margin-bottom: 5px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-15 {
    margin-bottom: 15px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-25 {
    margin-bottom: 25px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-35 {
    margin-bottom: 35px;
}

.mb-40 {
    margin-bottom: 40px;
}

.mb-45 {
    margin-bottom: 45px;
}

.mb-50 {
    margin-bottom: 50px;
}

/* Margin Left */

.ml-5 {
    margin-left: 5px;
}

.ml-10 {
    margin-left: 10px;
}

.ml-15 {
    margin-left: 15px;
}

.ml-20 {
    margin-left: 20px;
}

.ml-25 {
    margin-left: 25px;
}

.ml-30 {
    margin-left: 30px;
}

.ml-35 {
    margin-left: 35px;
}

.ml-40 {
    margin-left: 40px;
}

.ml-45 {
    margin-left: 45px;
}

.ml-50 {
    margin-left: 50px;
}

/* Margin Right */

.mr-5 {
    margin-right: 5px;
}

.mr-10 {
    margin-right: 10px;
}

.mr-15 {
    margin-right: 15px;
}

.mr-20 {
    margin-right: 20px;
}

.mr-25 {
    margin-right: 25px;
}

.mr-30 {
    margin-right: 30px;
}

.mr-35 {
    margin-right: 35px;
}

.mr-40 {
    margin-right: 40px;
}

.mr-45 {
    margin-right: 45px;
}

.mr-50 {
    margin-right: 50px;
}

/* Margins Ends */


/* Paddings */

/* Padding Top */

.pt-5 {
    padding-top: 5px;
}

.pt-10 {
    padding-top: 10px;
}

.pt-15 {
    padding-top: 15px;
}

.pt-20 {
    padding-top: 20px;
}

.pt-25 {
    padding-top: 25px;
}

.pt-30 {
    padding-top: 30px;
}

.pt-35 {
    padding-top: 35px;
}

.pt-40 {
    padding-top: 40px;
}

.pt-45 {
    padding-top: 45px;
}

.pt-50 {
    padding-top: 50px;
}

/* Padding Bottom */

.pb-5 {
    padding-bottom: 5px;
}

.pb-10 {
    padding-bottom: 10px;
}

.pb-15 {
    padding-bottom: 15px;
}

.pb-20 {
    padding-bottom: 20px;
}

.pb-25 {
    padding-bottom: 25px;
}

.pb-30 {
    padding-bottom: 30px;
}

.pb-35 {
    padding-bottom: 35px;
}

.pb-40 {
    padding-bottom: 40px;
}

.pb-45 {
    padding-bottom: 45px;
}

.pb-50 {
    padding-bottom: 50px;
}

/* Padding Left */

.pl-5 {
    padding-left: 5px;
}

.pl-10 {
    padding-left: 10px;
}

.pl-15 {
    padding-left: 15px;
}

.pl-20 {
    padding-left: 20px;
}

.pl-25 {
    padding-left: 25px;
}

.pl-30 {
    padding-left: 30px;
}

.pl-35 {
    padding-left: 35px;
}

.pl-40 {
    padding-left: 40px;
}

.pl-45 {
    padding-left: 45px;
}

.pl-50 {
    padding-left: 50px;
}

/* Padding Right */

.pr-5 {
    padding-right: 5px;
}

.pr-10 {
    padding-right: 10px;
}

.pr-15 {
    padding-right: 15px;
}

.pr-20 {
    padding-right: 20px;
}

.pr-25 {
    padding-right: 25px;
}

.pr-30 {
    padding-right: 30px;
}

.pr-35 {
    padding-right: 35px;
}

.pr-40 {
    padding-right: 40px;
}

.pr-45 {
    padding-right: 45px;
}

.pr-50 {
    padding-right: 50px;
}

/* Paddings Ends */


/* Row Spacing */

.row-spacing-5 {
    row-gap: 5px;
}

.row-spacing-10 {
    row-gap: 10px;
}

.row-spacing-20 {
    row-gap: 20px;
}

.row-spacing-30 {
    row-gap: 30px;
}

.row-spacing-40 {
    row-gap: 40px;
}

.row-spacing-50 {
    row-gap: 50px;
}

.row-spacing-60 {
    row-gap: 60px;
}

.row-spacing-70 {
    row-gap: 70px;
}

.row-spacing-80 {
    row-gap: 80px;
}

.row-spacing-90 {
    row-gap: 90px;
}

.row-spacing-100 {
    row-gap: 100px;
}

/* Row Spacing Ends */

/* Column Spacing */

.col-spacing-5 {
    column-gap: 5px;
}

.col-spacing-10 {
    column-gap: 10px;
}

.col-spacing-20 {
    column-gap: 20px;
}

.col-spacing-30 {
    column-gap: 30px;
}

.col-spacing-40 {
    column-gap: 40px;
}

.col-spacing-50 {
    column-gap: 50px;
}

.col-spacing-60 {
    column-gap: 60px;
}

.col-spacing-70 {
    column-gap: 70px;
}

.col-spacing-80 {
    column-gap: 80px;
}

.col-spacing-90 {
    column-gap: 90px;
}

.col-spacing-100 {
    column-gap: 100px;
}

/* Column Spacing Ends */

/* Gap Spacing */

.gap-spacing-10 {
    grid-gap: 10px;
}

.gap-spacing-20 {
    grid-gap: 20px;
}

.gap-spacing-30 {
    grid-gap: 30px;
}

.gap-spacing-40 {
    grid-gap: 40px;
}

.gap-spacing-50 {
    grid-gap: 50px;
}

.gap-spacing-60 {
    grid-gap: 60px;
}

.gap-spacing-70 {
    grid-gap: 70px;
}

.gap-spacing-80 {
    grid-gap: 80px;
}

.gap-spacing-90 {
    grid-gap: 90px;
}

.gap-spacing-100 {
    grid-gap: 100px;
}

/* Gap Spacing Ends */


/* Letter Spacing */

.ls-1 {
    letter-spacing: 1px;
}

.ls-2 {
    letter-spacing: 2px;
}

.ls-3 {
    letter-spacing: 3px;
}

.ls-4 {
    letter-spacing: 4px;
}

.ls-5 {
    letter-spacing: 5px;
}

.ls-6 {
    letter-spacing: 6px;
}

.ls-7 {
    letter-spacing: 7px;
}

.ls-8 {
    letter-spacing: 8px;
}

.ls-9 {
    letter-spacing: 9px;
}

.ls-10 {
    letter-spacing: 10px;
}

/* Letter Spacing Ends */


/* Line height */

.lh-5 {
    line-height: 5px;
}

.lh-10 {
    line-height: 10px;
}

.lh-15 {
    line-height: 15px;
}

.lh-20 {
    line-height: 20px;
}

.lh-25 {
    line-height: 25px;
}

.lh-30 {
    line-height: 30px;
}

.lh-35 {
    line-height: 35px;
}

.lh-40 {
    line-height: 25px;
}

.lh-45 {
    line-height: 45px;
}

.lh-50 {
    line-height: 50px;
}

/* Line height Ends */


/* Button */

[class^="btn"], 
[class*="btn"] {
    border-radius: 5px;
    outline: inherit;
    border: none;
    cursor: pointer;
    letter-spacing: 0.5px;
}

.btn {
    padding: 10px 15px;
}

.btn-sm {
    padding: 5px 10px;
}

.btn-lg {
    padding: 15px 30px;
    font-size: 17px;
}

.btn .btn-light {
    color: #FFF;
}

.btn .btn-dark {
    color: #262424;
}

.btn .btn-primary {
    background-color: #1C8FD6;
}

.btn .btn-secondary {
    background-color: #656060;
}

.btn .btn-success {
    background-color: #1CD645;
}

.btn .btn-info {
    background-color: #33C6FF;
}

.btn .btn-warning {
    background-color: #EF941A;
}

.btn .btn-danger {
    background-color: #EF1A1A;
}

/* Button Ends */


/* Input */

textarea, input { 
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    background: none;
    box-shadow: none;
}

.input-ctrl {
    padding: 12px 9px;
    border: solid 2px #b4abab;
    border-radius: 5px;
    width: 100%;
    margin: 13px 0;
}  

/* Input Ends */

/* Progress */

.progress {
    width: 100%;
    background: #9D9D9D;
    min-height: 25px;
    border-radius: 50px;
    overflow: hidden;
}

.progress .progress-bar {
    background-color: #1C8FD6;
    overflow: hidden;
    min-height: 25px;
}

/* Progress Ends */


/* Image */

.img-full {
    width: 100%;
    height: 100%;
}

.img-round {
    border-radius: 25px;
}

[class^="img-overlay"], 
[class*="img-overlay"] {
    background-color: #000;
    transition: 0.5s;
}

.img-border-white-1 {
    border: 1px solid #FFF;
}

.img-border-white-2 {
    border: 2px solid #FFF;
}

.img-border-white-3 {
    border: 3px solid #FFF;
}

.img-border-white-4 {
    border: 4px solid #FFF;
}

.img-border-white-5 {
    border: 5px solid #FFF;
}

.img-border-black-1 {
    border: 1px solid #000;
}

.img-border-black-2 {
    border: 2px solid #000;
}

.img-border-black-3 {
    border: 3px solid #000;
}

.img-border-black-4 {
    border: 4px solid #000;
}

.img-border-black-5 {
    border: 5px solid #000;
}

.img-overlay-1:hover {
    filter: brightness(0.1);
}

.img-overlay-2:hover {
    filter: brightness(0.2);
}

.img-overlay-3:hover {
    filter: brightness(0.3);
}

.img-overlay-4:hover {
    filter: brightness(0.4);
}

.img-overlay-5:hover {
    filter: brightness(0.5);
}

.img-overlay-6:hover {
    filter: brightness(0.6);
}

.img-overlay-7:hover {
    filter: brightness(0.7);
}

.img-overlay-8:hover {
    filter: brightness(0.8);
}

.img-overlay-9:hover {
    filter: brightness(0.9);
}

/* Image Ends */

/* Navbar */

.navbar {
    min-height: 80px;
    display: flex;
    align-items: center;
}

.navbar.navbar-primary {
    background-color: #1C8FD6;
}

.navbar.navbar-secondary {
    background-color: #656060;
}

.navbar.navbar-success {
    background-color: #1CD645;
}

.navbar.navbar-info {
    background-color: #33C6FF;
}

.navbar.navbar-warning {
    background-color: #EF941A;
}

.navbar.navbar-danger {
    background-color: #EF1A1A;
}

/* Navbar Ends */

.space-around {
    justify-content: space-around;
}

.space-between {
    justify-content: space-between;
}

.space-even {
    justify-content: space-evenly;
}

/* Media Queries */

@media only screen and (max-width: 1450px) {
    [class^="grid-row-lg"], 
    [class*="grid-row-lg"] {
        grid-template-columns: repeat(4, auto);
    } 
    
    .screen-gap-20 {
        row-gap: 20px;
    }

    .screen-gap-25 {
        row-gap: 25px;
    }

    .screen-gap-30 {
        row-gap: 30px;
    }

    .screen-gap-35 {
        row-gap: 35px;
    }

    .screen-gap-40 {
        row-gap: 40px;
    }

    .screen-gap-45 {
        row-gap: 45px;
    }

    .screen-gap-50 {
        row-gap: 50px;
    }
}

@media only screen and (max-width: 1250px) {
    [class^="grid-row-lg"], 
    [class*="grid-row-lg"] {
        grid-template-columns: repeat(2, auto);
    } 

    [class^="grid-row-md"], 
    [class*="grid-row-md"] {
        grid-template-columns: repeat(4, auto);
    } 

    .screen-gap-20 {
        row-gap: 20px;
    }

    .screen-gap-25 {
        row-gap: 25px;
    }

    .screen-gap-30 {
        row-gap: 30px;
    }

    .screen-gap-35 {
        row-gap: 35px;
    }

    .screen-gap-40 {
        row-gap: 40px;
    }

    .screen-gap-45 {
        row-gap: 45px;
    }

    .screen-gap-50 {
        row-gap: 50px;
    }
}

@media only screen and (max-width: 1100px) {
    [class^="grid-row-lg"], 
    [class*="grid-row-lg"] {
        grid-template-columns: 100%;
    } 

    [class^="grid-row-md"], 
    [class*="grid-row-md"] {
        grid-template-columns: repeat(2, auto);
    } 

    [class^="grid-row-sm"], 
    [class*="grid-row-sm"] {
        grid-template-columns: repeat(4, auto);
    } 

    .screen-gap-20 {
        row-gap: 20px;
    }

    .screen-gap-25 {
        row-gap: 25px;
    }

    .screen-gap-30 {
        row-gap: 30px;
    }

    .screen-gap-35 {
        row-gap: 35px;
    }

    .screen-gap-40 {
        row-gap: 40px;
    }

    .screen-gap-45 {
        row-gap: 45px;
    }

    .screen-gap-50 {
        row-gap: 50px;
    }
}

@media only screen and (max-width: 992px) {

    [class^="grid-row-md"], 
    [class*="grid-row-md"] {
        grid-template-columns: 100%;
    } 

    [class^="grid-row-sm"], 
    [class*="grid-row-sm"] {
        grid-template-columns: repeat(2, auto);
    } 

    .screen-gap-20 {
        row-gap: 20px;
    }

    .screen-gap-25 {
        row-gap: 25px;
    }

    .screen-gap-30 {
        row-gap: 30px;
    }

    .screen-gap-35 {
        row-gap: 35px;
    }

    .screen-gap-40 {
        row-gap: 40px;
    }

    .screen-gap-45 {
        row-gap: 45px;
    }

    .screen-gap-50 {
        row-gap: 50px;
    }
}

@media only screen and (max-width: 767px) {

    [class^="grid-row-sm"], 
    [class*="grid-row-sm"] {
        grid-template-columns: 100%;
    } 

    .screen-gap-20 {
        row-gap: 20px;
    }

    .screen-gap-25 {
        row-gap: 25px;
    }

    .screen-gap-30 {
        row-gap: 30px;
    }

    .screen-gap-35 {
        row-gap: 35px;
    }

    .screen-gap-40 {
        row-gap: 40px;
    }

    .screen-gap-45 {
        row-gap: 45px;
    }

    .screen-gap-50 {
        row-gap: 50px;
    }
}

/* Media Queries Ends */
