[class^="container"], 
[class*="container"] {
    width: 85%;
    max-width: 1440px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

[class^="grid-row-"], 
[class*="grid-row-"] {
    display: grid;
}

.grid-row-lg-1,
.grid-row-md-1,
.grid-row-sm-1 {
    grid-template-columns: 100%;
}

.grid-row-lg-2,
.grid-row-md-2,
.grid-row-sm-2  {
    grid-template-columns: repeat(2, auto);
}

.grid-row-lg-3,
.grid-row-md-3,
.grid-row-sm-3  {
    grid-template-columns: repeat(3, auto);
}

.grid-row-lg-4,
.grid-row-md-4,
.grid-row-sm-4  {
    grid-template-columns: repeat(4, auto);
}

.grid-row-lg-5,
.grid-row-md-5,
.grid-row-sm-5  {
    grid-template-columns: repeat(5, auto);
}

.grid-row-lg-6,
.grid-row-md-6,
.grid-row-sm-6  {
    grid-template-columns: repeat(6, auto);
}

.grid-row-lg-7,
.grid-row-md-7,
.grid-row-sm-7  {
    grid-template-columns: repeat(7, auto);
}

.grid-row-lg-8,
.grid-row-md-8,
.grid-row-sm-8  {
    grid-template-columns: repeat(8, auto);
}

.grid-row-lg-8,
.grid-row-md-9,
.grid-row-sm-9  {
    grid-template-columns: repeat(9, auto);
}

.grid-row-lg-10,
.grid-row-md-10,
.grid-row-sm-10  {
    grid-template-columns: repeat(10, auto);
}

.grid-row-lg-11,
.grid-row-md-11,
.grid-row-sm-11  {
    grid-template-columns: repeat(11, auto);
}

.grid-row-lg-12,
.grid-row-md-12,
.grid-row-sm-12  {
    grid-template-columns: repeat(12, auto);
}

.grid-row-lg-13,
.grid-row-md-13,
.grid-row-sm-13  {
    grid-template-columns: repeat(13, auto);
}

.grid-row-lg-14,
.grid-row-md-14,
.grid-row-sm-14  {
    grid-template-columns: repeat(14, auto);
}

.grid-row-lg-15,
.grid-row-md-15,
.grid-row-sm-15  {
    grid-template-columns: repeat(15, auto);
}

.grid-row-lg-16,
.grid-row-md-16,
.grid-row-sm-16  {
    grid-template-columns: repeat(16, auto);
}

.center-all {
    align-content: center;
}

.text-center {
    text-align: center;
}

/* Margins */

/* Margin Top */

.mt-5 {
    margin-top: 5px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-15 {
    margin-top: 15px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-25 {
    margin-top: 25px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-35 {
    margin-top: 35px;
}

.mt-40 {
    margin-top: 40px;
}

.mt-45 {
    margin-top: 45px;
}

.mt-50 {
    margin-top: 50px;
}

/* Margin Bottom */

.mb-5 {
    margin-bottom: 5px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-15 {
    margin-bottom: 15px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-25 {
    margin-bottom: 25px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-35 {
    margin-bottom: 35px;
}

.mb-40 {
    margin-bottom: 40px;
}

.mb-45 {
    margin-bottom: 45px;
}

.mb-50 {
    margin-bottom: 50px;
}

/* Margin Left */

.ml-5 {
    margin-left: 5px;
}

.ml-10 {
    margin-left: 10px;
}

.ml-15 {
    margin-left: 15px;
}

.ml-20 {
    margin-left: 20px;
}

.ml-25 {
    margin-left: 25px;
}

.ml-30 {
    margin-left: 30px;
}

.ml-35 {
    margin-left: 35px;
}

.ml-40 {
    margin-left: 40px;
}

.ml-45 {
    margin-left: 45px;
}

.ml-50 {
    margin-left: 50px;
}

/* Margin Right */

.mr-5 {
    margin-right: 5px;
}

.mr-10 {
    margin-right: 10px;
}

.mr-15 {
    margin-right: 15px;
}

.mr-20 {
    margin-right: 20px;
}

.mr-25 {
    margin-right: 25px;
}

.mr-30 {
    margin-right: 30px;
}

.mr-35 {
    margin-right: 35px;
}

.mr-40 {
    margin-right: 40px;
}

.mr-45 {
    margin-right: 45px;
}

.mr-50 {
    margin-right: 50px;
}

/* Margins Ends */








/* Paddings */

/* Padding Top */

.pt-5 {
    padding-top: 5px;
}

.pt-10 {
    padding-top: 10px;
}

.pt-15 {
    padding-top: 15px;
}

.pt-20 {
    padding-top: 20px;
}

.pt-25 {
    padding-top: 25px;
}

.pt-30 {
    padding-top: 30px;
}

.pt-35 {
    padding-top: 35px;
}

.pt-40 {
    padding-top: 40px;
}

.pt-45 {
    padding-top: 45px;
}

.pt-50 {
    padding-top: 50px;
}

/* Padding Bottom */

.pb-5 {
    padding-bottom: 5px;
}

.pb-10 {
    padding-bottom: 10px;
}

.pb-15 {
    padding-bottom: 15px;
}

.pb-20 {
    padding-bottom: 20px;
}

.pb-25 {
    padding-bottom: 25px;
}

.pb-30 {
    padding-bottom: 30px;
}

.pb-35 {
    padding-bottom: 35px;
}

.pb-40 {
    padding-bottom: 40px;
}

.pb-45 {
    padding-bottom: 45px;
}

.pb-50 {
    padding-bottom: 50px;
}

/* Padding Left */

.pl-5 {
    padding-left: 5px;
}

.pl-10 {
    padding-left: 10px;
}

.pl-15 {
    padding-left: 15px;
}

.pl-20 {
    padding-left: 20px;
}

.pl-25 {
    padding-left: 25px;
}

.pl-30 {
    padding-left: 30px;
}

.pl-35 {
    padding-left: 35px;
}

.pl-40 {
    padding-left: 40px;
}

.pl-45 {
    padding-left: 45px;
}

.pl-50 {
    padding-left: 50px;
}

/* Padding Right */

.pr-5 {
    padding-right: 5px;
}

.pr-10 {
    padding-right: 10px;
}

.pr-15 {
    padding-right: 15px;
}

.pr-20 {
    padding-right: 20px;
}

.pr-25 {
    padding-right: 25px;
}

.pr-30 {
    padding-right: 30px;
}

.pr-35 {
    padding-right: 35px;
}

.pr-40 {
    padding-right: 40px;
}

.pr-45 {
    padding-right: 45px;
}

.pr-50 {
    padding-right: 50px;
}

/* Paddings Ends */


/* Row Spacing */

.row-spacing-10 {
    row-gap: 10px;
}

.row-spacing-20 {
    row-gap: 20px;
}

.row-spacing-30 {
    row-gap: 30px;
}

.row-spacing-40 {
    row-gap: 40px;
}

.row-spacing-50 {
    row-gap: 50px;
}

.row-spacing-60 {
    row-gap: 60px;
}

.row-spacing-70 {
    row-gap: 70px;
}

.row-spacing-80 {
    row-gap: 80px;
}

.row-spacing-90 {
    row-gap: 90px;
}

.row-spacing-100 {
    row-gap: 100px;
}

/* Row Spacing Ends */

/* Column Spacing */

.col-spacing-10 {
    column-gap: 10px;
}

.col-spacing-20 {
    column-gap: 20px;
}

.col-spacing-30 {
    column-gap: 30px;
}

.col-spacing-40 {
    column-gap: 40px;
}

.col-spacing-50 {
    column-gap: 50px;
}

.col-spacing-60 {
    column-gap: 60px;
}

.col-spacing-70 {
    column-gap: 70px;
}

.col-spacing-80 {
    column-gap: 80px;
}

.col-spacing-90 {
    column-gap: 90px;
}

.col-spacing-100 {
    column-gap: 100px;
}

/* Column Spacing Ends */

/* Gap Spacing */

.gap-spacing-10 {
    grid-gap: 10px;
}

.gap-spacing-20 {
    grid-gap: 20px;
}

.gap-spacing-30 {
    grid-gap: 30px;
}

.gap-spacing-40 {
    grid-gap: 40px;
}

.gap-spacing-50 {
    grid-gap: 50px;
}

.gap-spacing-60 {
    grid-gap: 60px;
}

.gap-spacing-70 {
    grid-gap: 70px;
}

.gap-spacing-80 {
    grid-gap: 80px;
}

.gap-spacing-90 {
    grid-gap: 90px;
}

.gap-spacing-100 {
    grid-gap: 100px;
}

/* Gap Spacing Ends */

.space-around {
    justify-content: space-around;
}

.space-between {
    justify-content: space-between;
}

.space-even {
    justify-content: space-evenly;
}

/* Media Queries */

@media only screen and (max-width: 1450px) {
    [class^="grid-row-lg"], 
    [class*="grid-row-lg"] {
        grid-template-columns: repeat(4, auto);
    } 
}

@media only screen and (max-width: 1250px) {
    [class^="grid-row-lg"], 
    [class*="grid-row-lg"] {
        grid-template-columns: repeat(2, auto);
    } 

    [class^="grid-row-md"], 
    [class*="grid-row-md"] {
        grid-template-columns: repeat(4, auto);
    } 
}

@media only screen and (max-width: 1100px) {
    [class^="grid-row-lg"], 
    [class*="grid-row-lg"] {
        grid-template-columns: 100%;
    } 

    [class^="grid-row-md"], 
    [class*="grid-row-md"] {
        grid-template-columns: repeat(2, auto);
    } 

    [class^="grid-row-sm"], 
    [class*="grid-row-sm"] {
        grid-template-columns: repeat(4, auto);
    } 
}

@media only screen and (max-width: 992px) {
    .container-lg {
        width: auto;
    }

    [class^="grid-row-md"], 
    [class*="grid-row-md"] {
        grid-template-columns: 100%;
    } 

    [class^="grid-row-sm"], 
    [class*="grid-row-sm"] {
        grid-template-columns: repeat(2, auto);
    } 
}

@media only screen and (max-width: 767px) {
    .container {
        width: auto;
    }

    [class^="grid-row-sm"], 
    [class*="grid-row-sm"] {
        grid-template-columns: 100%;
    } 
}

/* Media Queries Ends */
